<div class="container">
    <h1>Update Carrera</h1>
   
    <a href="#" routerLink="/carreras/index" class="btn btn-primary">Back</a>
          
    <form [formGroup]="form" (ngSubmit)="submit()">
    
        <div class="form-group">
            <label for="nombres">Nombres:</label>
            <input 
                formControlName="nombres"
                id="nombres" 
                type="text" 
                [(ngModel)]="carreras.nombres"
                class="form-control">
            <div *ngIf="f['nombres'].touched && f['nombres'].invalid" class="alert alert-danger">
                <div *ngIf="f['nombres'].errors && f['nombres'].errors['required']">Nombre is required.</div>
            </div>
        </div>
           
        <div class="form-group">
            <label for="estado">Estado</label>
            <textarea 
                formControlName="estado"
                id="estado" 
                type="text" 
                [(ngModel)]="carreras.estado"
                class="form-control">
            </textarea>
            <div *ngIf="f['estado'].touched && f['estado'].invalid" class="alert alert-danger">
                <div *ngIf="f['estado'].errors && f['estado'].errors['required']">estado is required.</div>
            </div>estado    </div>
         
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>
    </form>
</div>
